### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.zip

.gradle/
gradle/
gradlew
gradlew.bat
build/
target/
log/
/ngrok.bat
/before_deploy.txt
/deploy_dev.cmd
/deploy_kotlin_dev.cmd
/deploy_prod.cmd
/authorized_key.json
